.car {

  &__nav {
    display: flex;
    flex-direction: row;
    gap: 20px;
    height: 30px;

    p {
      margin: 0;
      font-size: 1rem;
      color: #fff;
    }
  }

  &-view {
    display: flex;
    flex-direction: row;
    border-bottom: 2px dashed #fff;

    &__control {
    }

    &__draw {
      display: flex;
      flex: 1;
      flex-direction: row;
      justify-content: space-between;
    }
  }
}

.car-image,
.flag-image {
  width: 200px;
  height: 100px;
  overflow: hidden;

}


.image {
  width: 100%;
  height: 100%;
}

.btn-start-engine--sucsess {
  background-color: green;
}
